body {
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
  color: white;
  margin: 50px 100px;
  height: 100vh;
  overflow: hidden;
  background-image: url('background.png');
  caret-color: white;
}

#root {
  height: 100%;
}

button {
  font-family: 'Quantico', sans-serif;
}

* {
  font-family: 'Quantico', sans-serif;
}

.mantine-us7vc8 .mantine-6rpt5n {
  font-family: 'Quantico', sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: white;
  width: 30px;
}

.mantine-bwrxwk {
  color: white !important;
}
.mantine-us7vc8 {
  background-color: transparent;
}