body {
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
  color: white;
  margin: 50px 100px;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

button {
  font-family: 'Quantico', sans-serif;
}

* {
  font-family: 'Quantico', sans-serif;
}
